#range-slider-continer > p {
  margin-bottom: 0px;
  margin-left: 20px;
}

#input-container {
  background: var(--light-purple);
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 55px;
  margin-left: 20px;
  margin-right: 20px;
}

#input-container > input[type=range] {
  flex: 1;
  height: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

#input-container > input[type=range]:hover {
  cursor: pointer;
}

#input-container > div:nth-of-type(1) {
  margin-left: 10px;
}

#input-container > div:nth-of-type(2) {
  margin-right: 10px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--dark-grey);
}
