#table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#table-container table {
  display: inline-block;
}

#table-container td {
  cursor: pointer;
  background-color: var(--light-grey);
}

#table-container td.selected {
  background-color: var(--light-purple);
}

#table-container td.center {
  background-color: var(--dark-grey);
}
