:root {
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #4c4e57;
  --light-grey: #ccd3d9;
  --dark-purple: #7b2cbf;
  --light-purple: #c77dff;
}

@font-face {
  font-family: 'Mukta';
  src: local('Mukta'), url(./fonts/Mukta.ttf) format('truetype');
}

#app {                                                                          
  height: 100vh;                                                                
  background-color: var(--dark-grey);                                                      
  color: var(--light-grey);
  font-family: Mukta;
  display: flex;                                                                
  justify-content: space-around;                                                
}   

#app > #center {                                                                
  display: flex;                                                                
  width: 50%;
  flex-direction: column;                                                       
  text-align: center;                                                           
} 
